site_name: Surrogate Modeling for Urban Regeneration (SMUR)
site_url: https://vip-smur.github.io/
repo_url: https://github.com/VIP-SMUR/vip-smur.github.io
edit_uri: blob/main/docs/
site_author: Patrick Kastner
site_description: >-
  Project page of the Surrogate Modeling for Urban Regeneration (VIP) at Georgia Tech.

# Copyright
copyright: >-
 Copyright &copy; 2023-2025 Sustainable Urban Systems Lab. <a href="https://siddharthdasari.com/">Design credits.</a><p><a href="https://github.com/VIP-SMUR/vip-smur.github.io/actions"><img alt="Last Built" src="https://img.shields.io/badge/dynamic/json?url=https%3A%2F%2Fapi.github.com%2Frepos%2FVIP-SMUR%2Fvip-smur.github.io%2Factions%2Fworkflows%2F119410802%2Fruns%3Fstatus%3Dcompleted%26per_page%3D1119410802&query=%24.workflow_runs%5B0%5D.run_started_at&style=flat-square&label=Last%20Built&cacheSeconds=720"></a>

 
theme:
  name: material
  custom_dir: overrides
  favicon: images/favicon.svg
  logo: images/favicon.svg
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    #- navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - navigation.path
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: black
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

extra_css:
  - stylesheets/extra.css

extra:
  generator: false
  analytics:
    provider: custom
    property: umami
  tags:
    Mobility: mobility
    Microclimate: microclimate
    Energy: energy
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/VIP-SMUR
    - icon: fontawesome/brands/researchgate
      link: https://www.researchgate.net/profile/Patrick-Kastner
    - icon: fontawesome/brands/google-scholar
      link: https://gscholar.patrickkastner.de/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/patrickkastner/
    - icon: fontawesome/brands/orcid
      link: https://orcid.org/0000-0003-4940-341X

extra_javascript:
  - javascripts/tablesort.js
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
    # Display math
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
  # Display math
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.betterem
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      pygments_lang_class: true
      auto_title: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.smartsymbols
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets
  - footnotes
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - markdown_include.include:
      base_path: docs

# Plugins
plugins:
  - include-markdown
  - search
  #- title-casing:
  #    capitalization_type: title #first_letter
  #    default_page_name: Index
  - glightbox
  - git-revision-date-localized:
      type: timeago
      custom_format: "%d. %B %Y"
      timezone: US/Eastern
      locale: en
      fallback_to_build_date: true
      enable_creation_date: false
      #exclude:
      #    - index.md
      enabled: true
      strict: false
  - tags
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
          remove_comments: true
      cache_safe: true
  - git-authors:
      show_contribution: true
      show_line_count: true
      show_email_address: false
      count_empty_lines: false
      fallback_to_empty: false
      sort_authors_by: name
      authorship_threshold_percent: 1
      #ignore_commits: .git-blame-ignore-revs
      exclude:
        - projects/**.md
        - team/**.md
        - getting_started.md
        - get-involved.md
        - index.md
        - '!**/InfluenceCurve.ai'
      enabled: true
      enabled_on_serve: false
      strict: true
  - git-committers:
      repository: VIP-SMUR/wiki
      branch: main
      docs_path: docs/
      token: !ENV ["GithubAccessToken"]
  - rss:
      abstract_chars_count: -1 # 160  # -1 for full content
      abstract_delimiter: <!-- more -->
      categories:
        - tags
      comments_path: "#__comments"
      date_from_meta:
        as_creation: "date" # means from page.meta.date
        as_update: "git" # means from git log
        datetime_format: "%Y-%m-%d %H:%M"
        default_time: "09:30"
        default_timezone: America/New_York
      enabled: true
      #feed_description: "A Vertically Integrated Project at Georgia Tech"  # MkDocs site_description: will be used if this key is not present
      feeds_filenames:
        json_created: feed_json_created.json
        json_updated: feed_json_updated.json
        rss_created: feed_rss_created.xml
        rss_updated: feed_rss_updated.xml
      feed_title: "My custom feed title"  # MkDocs site_name: will be used if this key is not present
      feed_ttl: 1440
      image: https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Feed-icon.svg/128px-Feed-icon.svg.png
      json_feed_enabled: true
      length: 20
      match_path: ".*"
      pretty_print: false
      rss_feed_enabled: true
      url_parameters:
        utm_source: "documentation"
        utm_medium: "RSS"
        utm_campaign: "feed-syndication"
      use_git: true
      use_material_blog: true
      use_material_social_cards: true

  - multirepo:
      # (optional) tells multirepo to cleanup the temporary directory after site is built.
      cleanup: false
      # if set the docs directory will not be removed when importing docs. When using this with a nav section in an imported repo
      # you must keep the docs directory in the path (e.g., docs/path/to/file.md).
      keep_docs_dir: true
      nav_repos:

        # General
        - name: get-involved
          import_url: https://github.com/VIP-SMUR/.github?branch=main
          imports: [/*]

        # Spring 2025
        - name: 25Sp-MPONC
          import_url: https://github.com/VIP-SMUR/25Sp-MPONC?branch=main
          imports: [/README.md,/Figures/*]
        - name: 25Sp-Neuroarchitecture
          import_url: https://github.com/VIP-SMUR/25Sp-Neuroarchitecture?branch=main
          imports: [/README.md, /selecting_process/*,/Figure/*]
        - name: 25Sp-EnergyInBuildings
          import_url: https://github.com/VIP-SMUR/25Sp-EnergyInBuildings?branch=main
          imports: [/README.md,/Figures/*]
        - name: 25Sp-Microclimate-LSTM-Kriging
          import_url: https://github.com/VIP-SMUR/25Sp-Microclimate-LSTM-Kriging?branch=main
          imports: [/README.md,/Figures/*]
        - name: 25Sp-Microclimate-UMCF
          import_url: https://github.com/VIP-SMUR/25Sp-Microclimate-UMCF?branch=main
          imports: [/README.md,/Figures/*]
        - name: 25Sp-Mobility-PEI
          import_url: https://github.com/VIP-SMUR/25Sp-Mobility-PEI?branch=main
          imports: [/README.md,/Figures/*]

        # Fall 2024
        - name: 24Fa-MPONC
          import_url: https://github.com/VIP-SMUR/24Fa-MPONC?branch=main
          imports: [/README.md,/Figures/*]
        - name: 24Fa-Neuroarchitecture
          import_url: https://github.com/VIP-SMUR/24Fa-Neuroarchitecture?branch=main
          imports: [/README.md, /selecting_process/*,/Figure/*]
        - name: 24Fa-EnergyInBuildings-Res
          import_url: https://github.com/VIP-SMUR/24Fa-EnergyInBuildings-Res?branch=main
          imports: [/README.md,/Figures/*]
        - name: 24Fa-EnergyInBuildings-Com
          import_url: https://github.com/VIP-SMUR/24Fa-EnergyInBuildings-Com?branch=main
          imports: [/README.md,/Figures/*]
        - name: 24Fa-Microclimate-LSTM-Kriging
          import_url: https://github.com/VIP-SMUR/24Fa-Microclimate-LSTM-Kriging?branch=main
          imports: [/README.md,/Figures/*]
        - name: 24Fa-Microclimate-UMCF
          import_url: https://github.com/VIP-SMUR/24Fa-Microclimate-UMCF?branch=main
          imports: [/README.md,/Figures/*]
        - name: 24Fa-Mobility-PEI
          import_url: https://github.com/VIP-SMUR/24Fa-Mobility-PEI?branch=main
          imports: [/README.md,/Figures/*]
        # - name: TEST
        #  import_url: https://github.com/VIP-SMUR/Test?branch=main
        #  imports: [/README.md]

        # Spring 2024
        - name: 24Sp-EnergyInBuildings
          import_url: https://github.com/VIP-SMUR/24Sp-EnergyInBuildings?branch=main
          imports: [/README.md]
        - name: 24Sp-Microclimate
          import_url: https://github.com/VIP-SMUR/24Sp-Microclimate?branch=main
          imports: [/README.md]
        - name: 24Sp-Mobility-PEI
          import_url: https://github.com/VIP-SMUR/24Sp-Mobility-PEI?branch=main
          imports: [/README.md]
        - name: 24Sp-Mobility-Seg
          import_url: https://github.com/VIP-SMUR/24Sp-Mobility-Seg?branch=main
          imports: [/README.md]

nav:
  - Home:
      - VIP-SMUR: index.md
      - Get involved: get-involved/profile/README.md
  - Projects:
      - Overview: projects/index.md

      - Spring 2025:
          - Projects: projects/25sp/README.md
          - 25-Sp-Neuroarchitecture: 25sp-neuroarchitecture/README.md
          - 25-Sp-MPONC: 25sp-mponc/README.md
          - 25-Sp-Energy: 25sp-energyinbuildings/README.md
          - 25-Sp-Microclimate-LSTM-Kriging: 25sp-microclimate-lstm-kriging/README.md
          - 25-Sp-Microclimate-UMCF: 25sp-microclimate-umcf/README.md
          - 25-Sp-Mobility-PEI: 25sp-mobility-pei/README.md
          # - Test: test/README.md

      - Fall 2024:
          - Projects: projects/24fa/README.md
          - 24-Fa-Neuroarchitecture: 24fa-neuroarchitecture/README.md
          - 24-Fa-MPONC: 24fa-mponc/README.md
          - 24-Fa-Energy-Com: 24fa-energyinbuildings-com/README.md
          - 24-Fa-Energy-Res: 24fa-energyinbuildings-res/README.md
          - 24-Fa-Microclimate-LSTM-Kriging: 24fa-microclimate-lstm-kriging/README.md
          - 24-Fa-Microclimate-UMCF: 24fa-microclimate-umcf/README.md
          - 24-Fa-Mobility-PEI: 24fa-mobility-pei/README.md
          # - Test: test/README.md

      - Spring 2024:
          - Projects: projects/24sp/README.md
          - 24-Sp-Energy: 24sp-energyinbuildings/README.md
          - 24-Sp-Microclimate: 24sp-microclimate/README.md
          - 24-Sp-Mobility-PEI: 24sp-mobility-pei/README.md
          - 24-Sp-Mobility-Seg: 24sp-mobility-seg/README.md

  - Team:
      - Team overview: team/index.md
      - 25-Spring: team/25-Sp.md
      - 24-Fall: team/24-Fa.md
      - 24-Spring: team/24-Sp.md

  - Activities: 

      - Overview: activities/index.md
      - Conferences: activities/conferences.md
      - Class Dinners: activities/dinners.md
