mkdocs
mkdocs-material
mkdocs-multirepo-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-title-casing-plugin
mkdocs-glightbox
markdown-include
mkdocs-include-markdown-plugin
mkdocs-rss-plugin
mkdocs-redirects 
mkdocs-video 
mkdocs-awesome-pages-plugin 
mkdocs-bibtex
tzdata